@media (min-width:320px) and (max-width:600px){
    *{box-sizing: border-box;
        margin: 0; 
        padding: 0;
    }
        
    html{ 
        font-size: 62.5%;
    }

.seccionInstructor{
    @include tituloParrafo;
    
}
.seccionInstructor h2{
    @include titulosCelular;
}
.seccionInstructor p{
@include parrafosCelular;
}
/*DISEÑO DE LAS TARJETAS CONTENEDORAS DE INSTRUCTOR */

.contenedorGridInstructor .curriculumInstructor .tarjeta{
    @include flex;
    flex-direction: column;
    border: 0.2rem solid rgb(45, 100, 218);
    border-radius: 1rem;
    text-align: center;
    margin: 5rem;
    transition: $transicion;
}
.contenedorGridInstructor .curriculumInstructor .tarjeta:hover
{
    border: 0.1rem solid rgb(14, 14, 14);
    box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(56, 137, 212, 0.991);
}


.contenedorGridInstructor .curriculumInstructor div li{ 
   @include liCarrusel;
   margin-top: 1rem;
    margin-bottom: 1rem;
    font: 1.4rem 'Roboto', sans-serif;
    text-transform: uppercase;
}
.contenedorGridInstructor .curriculumInstructor div li:hover{
    font: 1.7rem 'Roboto', sans-serif;
}

.contenedorGridInstructor .curriculumInstructor div img{
    margin-top: 1rem;
    width:90%;
    border: 0.1rem solid rgb(2, 0, 142);
    border-radius: 1rem;
    box-shadow: 0.3rem 0.2rem 1rem 0.6rem black;
}

}
/*Finaliza Instructor*/
@media (min-width:601px) and (max-width:900px){

.contenedorGridInstructor{
    margin: 4rem;

}

/*Instroduccion de Instructor*/
.seccionInstructor{
    @include tituloParrafo;

}
.seccionInstructor h2{
    @include tituloTablet;
}
.seccionInstructor p{
@include parrafoTablet;
}
/*DISEÑO DE LAS TARJETAS CONTENEDORAS DE INSTRUCTOR */

/*Grid CurriculumInstructor*/
.contenedorGridInstructor .curriculumInstructor{
   display: grid;
   grid-template-areas:"competidorDos instructor"
                 "capacitacion capacitacion "
                        ;
grid-gap:2rem;
grid-row: 3rem;
    
    
}

.contenedorGridInstructor .curriculumInstructor .capacitacion{
    grid-area: capacitacion;
}

.contenedorGridInstructor .curriculumInstructor .instructor{
    grid-area: instructor;
}
.contenedorGridInstructor .curriculumInstructor .competidorDos{
    grid-area: competidorDos;
}
.contenedorGridInstructor .curriculumInstructor .tarjeta {
    @include flex;
    text-align: center;
   border: 0.4rem  black solid;
   border-radius:3rem;

}
.contenedorGridInstructor .curriculumInstructor .tarjeta:hover
{
border: 0.5rem solid rgb(14, 14, 14);
box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(56, 137, 212, 0.991);
}

.contenedorGridInstructor .curriculumInstructor div li{ 
    list-style: none;
    margin-bottom: 2rem;
    font: 1.6rem 'Roboto', sans-serif;
    text-transform: uppercase;
}

.contenedorGridInstructor .curriculumInstructor div li:hover{
    font: 2rem 'Roboto', sans-serif;
}

.contenedorGridInstructor .curriculumInstructor div figure{
    width: 100%;
    padding: 1rem;
}

.contenedorGridInstructor .curriculumInstructor div img{
    width:100%;
    border-radius: 1rem;
    border: 0.4rem  black;
}
}

@media (min-width:901px){

.contenedorGridInstructor{
    margin: 4rem;
    
    }
    
    /*Instroduccion de Instructor*/
    .seccionInstructor{
        @include tituloParrafo;
        
    }
    .seccionInstructor h2{
     @include tituloPc;
    }
    .seccionInstructor p{
        @include parrafoPc;
    }

    /*DISEÑO DE LAS TARJETAS CONTENEDORAS DE INSTRUCTOR */
    
    /*Grid CurriculumInstructor*/
    .contenedorGridInstructor .curriculumInstructor{
       display: grid;
       grid-template-areas:"capacitacion competidorDos instructor";
    grid-gap:2rem;
    grid-row: 3rem;
        
        
    }
    
    .contenedorGridInstructor .curriculumInstructor .capacitacion{
        grid-area: capacitacion;
    }
    
    .contenedorGridInstructor .curriculumInstructor .instructor{
        grid-area: instructor;
    }
    .contenedorGridInstructor .curriculumInstructor .competidorDos{
        grid-area: competidorDos;
    }
    .contenedorGridInstructor .curriculumInstructor .tarjeta {
     @include flex;
        text-align: center;
       border: 0.4rem  black solid;
       border-radius:3rem;
       transition: $transicion;
    
    }
    .contenedorGridInstructor .curriculumInstructor .tarjeta:hover
    {
    border: 0.5rem solid rgb(14, 14, 14);
    box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(56, 137, 212, 0.991);
    }
    
    .contenedorGridInstructor .curriculumInstructor div li{ 
        list-style: none;
        margin-bottom: 2rem;
        font: 1.6rem 'Roboto', sans-serif;
        transition:$transicion;
    }
    
    .contenedorGridInstructor .curriculumInstructor div li:hover{
        font: 2rem 'Roboto', sans-serif;
    }
    
    .contenedorGridInstructor .curriculumInstructor div figure{
        width: 100%;
        padding: 1rem;
    }
    
    .contenedorGridInstructor .curriculumInstructor div img{
        width:100%;
        border-radius: 1rem;
        border: 0.4rem  black;
    }


}