
$fondoNavCelular:linear-gradient(10deg, rgb(255, 255, 255) 20%, rgba(239, 243, 6, 0.689) 20% 40%, rgba(27, 160, 4, 0.728) 40% 60%, rgba(6, 37, 129, 0.769) 60% 80%, rgba(255, 0, 0, 0.749) 80%, black );


$fuenteprincipal:'Roboto', sans-serif;

$transicion:all 550ms;